.card {
    padding: 10px;
    margin: 15px;
    justify-content: center;
    border-radius: 15px;
    border-color: white;
    background-color: rgb(39, 36, 36);
    border-width: 3px;
}

.VG {
    text-decoration: underline;
    display: inline-block
}
